# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [2]:
import pandas as pd

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [5]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [6]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population shortname    state info.governor
0        Dade       12345        FL  Florida    Rick Scott
1     Broward       40000        FL  Florida    Rick Scott
2  Palm Beach       60000        FL  Florida    Rick Scott
3      Summit        1234        OH     Ohio   John Kasich
4    Cuyahoga        1337        OH     Ohio   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [1057]:
# load json as string
#json.load((open('data/world_bank_projects_less.json')))

In [1058]:
# load as Pandas dataframe
#sample_json_df = pd.read_json('data/world_bank_projects_less.json')
#sample_json_df

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1060]:
# load json as string
wbprj_str = json.load((open('data/world_bank_projects.json')))

In [1061]:
wbprj_df = pd.read_json('data/world_bank_projects.json')
wbprj_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [1056]:
#list(wbprj_df)
wbprj_df['project_name'].describe()

count                                                   500
unique                                                  500
top       West Africa Regional Communications Infrastruc...
freq                                                      1
Name: project_name, dtype: object

#### Find the 10 countries with most projects

In [856]:
import pandas as pd
country='countryshortname'
project='project_name'
problem01 = wbprj_df[[country,project]]
problem01=problem01.groupby(country)
problem01.groups
problem01=problem01.agg([pd.Series.nunique])

In [858]:
p1top10_sorted = problem01.sort_values(by=[(project, 'nunique')],ascending=False)
p1top10_sorted.head(10)

                   project_name
                        nunique
countryshortname
China                        19
Indonesia                    19
Vietnam                      17
India                        16
Yemen, Republic of           13
Nepal                        12
Bangladesh                   12
Morocco                      12
Mozambique                   11
Africa                       11

#### Find the 10 countries with most projects

#### Find the top 10 major project themes (using column 'mjtheme_namecode')

In [886]:
#'mjtheme': ['Human development'],
#  'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
#   {'code': '11', 'name': ''}],
#  'mjthemecode': '8,11',
#themename = 'mjtheme'
#code = 'mjtheme_namecode'
#themecode = 'mjthemecode'

In [887]:
import io
from pandas.io.json import json_normalize
import pandas as pd
#json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])
wbprj_str=json.load((open('data/world_bank_projects.json')))
problem02=json_normalize(wbprj_str, 'mjtheme_namecode','project_name')
problem02.head(10)

,code,name,project_name
0,8,Human development,Ethiopia General Education Quality Improvement...
1,11,,Ethiopia General Education Quality Improvement...
2,1,Economic management,TN: DTF Social Protection Reforms Support
3,6,Social protection and risk management,TN: DTF Social Protection Reforms Support
4,5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...
5,2,Public sector governance,Tuvalu Aviation Investment Project - Additiona...
6,11,Environment and natural resources management,Tuvalu Aviation Investment Project - Additiona...
7,6,Social protection and risk management,Tuvalu Aviation Investment Project - Additiona...
8,7,Social dev/gender/inclusion,Gov't and Civil Society Organization Partnership
9,7,Social dev/gender/inclusion,Gov't and Civil Society Organization Partnership

In [888]:
p2top10=problem02[['code','project_name','name']]
p2top10=problem02.groupby('code')
p2top10.groups
p2top10 = p2top10.agg([pd.Series.nunique])
p2top10_sorted=p2top10.sort_values(by=[('project_name','nunique')],ascending=False)
p2top10_sorted.head(10)

        name project_name
     nunique      nunique
code
11         2          157
10         2          148
2          2          140
8          2          128
4          2          119
6          2          116
7          2          114
5          2           61
9          2           40
1          2           33

#### Find the top 10 major project themes (using column 'mjtheme_namecode')

#### In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [998]:
import pandas as pd
problem03 = problem02.copy()

In [999]:
problem03.head()

,code,name,project_name
0,8,Human development,Ethiopia General Education Quality Improvement...
1,11,,Ethiopia General Education Quality Improvement...
2,1,Economic management,TN: DTF Social Protection Reforms Support
3,6,Social protection and risk management,TN: DTF Social Protection Reforms Support
4,5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...

In [1000]:
g1 = problem03['name'].replace('', 'No Code', inplace=True)
g1 = problem03.groupby('name')
g1.count()

                                              code  project_name
name
Economic management                             33            33
Environment and natural resources management   223           223
Financial and private sector development       130           130
Human development                              197           197
No Code                                        122           122
Public sector governance                       184           184
Rule of law                                     12            12
Rural development                              202           202
Social dev/gender/inclusion                    119           119
Social protection and risk management          158           158
Trade and integration                           72            72
Urban development                               47            47

In [1001]:
problem03.head()

,code,name,project_name
0,8,Human development,Ethiopia General Education Quality Improvement...
1,11,No Code,Ethiopia General Education Quality Improvement...
2,1,Economic management,TN: DTF Social Protection Reforms Support
3,6,Social protection and risk management,TN: DTF Social Protection Reforms Support
4,5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...

In [1002]:
g2 = problem03['name'].replace('No Code', np.nan, inplace=True)
g2 = problem03.groupby('name')
g2.count()

                                              code  project_name
name
Economic management                             33            33
Environment and natural resources management   223           223
Financial and private sector development       130           130
Human development                              197           197
Public sector governance                       184           184
Rule of law                                     12            12
Rural development                              202           202
Social dev/gender/inclusion                    119           119
Social protection and risk management          158           158
Trade and integration                           72            72
Urban development                               47            47

In [1003]:
problem03.head()

,code,name,project_name
0,8,Human development,Ethiopia General Education Quality Improvement...
1,11,NaN,Ethiopia General Education Quality Improvement...
2,1,Economic management,TN: DTF Social Protection Reforms Support
3,6,Social protection and risk management,TN: DTF Social Protection Reforms Support
4,5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...

In [1004]:
import numpy as np

In [1005]:
problem03.name.fillna(problem03.code,inplace=True)

In [1008]:
problem03=problem03.replace({'name':'11'},'Environment and natural resources management',inplace=False)
problem03=problem03.replace({'name':'10'},'Rural development',inplace=False)
problem03=problem03.replace({'name':'9'},'Urban development',inplace=False)
problem03=problem03.replace({'name':'8'},'Human development',inplace=False)
problem03=problem03.replace({'name':'7'},'Social dev/gender/inclusion',inplace=False)
problem03=problem03.replace({'name':'6'},'Social protection and risk management',inplace=False)
problem03=problem03.replace({'name':'5'},'Trade and integration',inplace=False)
problem03=problem03.replace({'name':'4'},'Financial and private sector development',inplace=False)
problem03=problem03.replace({'name':'3'},'Rule of law',inplace=False)
problem03=problem03.replace({'name':'2'},'Public sector governance',inplace=False)
problem03=problem03.replace({'name':'1'},'Economic management',inplace=False)

In [1009]:
g3 = problem03.groupby('name')
g3.count()

                                              code  project_name
name
Economic management                             38            38
Environment and natural resources management   250           250
Financial and private sector development       146           146
Human development                              210           210
Public sector governance                       199           199
Rule of law                                     15            15
Rural development                              216           216
Social dev/gender/inclusion                    130           130
Social protection and risk management          168           168
Trade and integration                           77            77
Urban development                               50            50

In [1010]:
problem03.head(20)

,code,name,project_name
0,8,Human development,Ethiopia General Education Quality Improvement...
1,11,Environment and natural resources management,Ethiopia General Education Quality Improvement...
2,1,Economic management,TN: DTF Social Protection Reforms Support
3,6,Social protection and risk management,TN: DTF Social Protection Reforms Support
4,5,Trade and integration,Tuvalu Aviation Investment Project - Additiona...
5,2,Public sector governance,Tuvalu Aviation Investment Project - Additiona...
6,11,Environment and natural resources management,Tuvalu Aviation Investment Project - Additiona...
7,6,Social protection and risk management,Tuvalu Aviation Investment Project - Additiona...
8,7,Social dev/gender/inclusion,Gov't and Civil Society Organization Partnership
9,7,Social dev/gender/inclusion,Gov't and Civil Society Organization Partnership
10,5,Trade and integration,Second Private Sector Competitiveness and Econ...
11,4,Financial and private sector development,Second Private Sector Competitiveness and Econ...
12,6,Social protection and risk management,Additional Financing for Cash Transfers for Or...
13,6,Social protection and risk management,Additional Financing for Cash Transfers for Or...
14,2,Public sector governance,National Highways Interconnectivity Improvemen...
15,4,Financial and private sector development,National Highways Interconnectivity Improvemen...
16,11,Environment and natural resources management,China Renewable Energy Scale-Up Program Phase II
17,8,Human development,China Renewable Energy Scale-Up Program Phase II
18,10,Rural development,Rajasthan Road Sector Modernization Project
19,7,Social dev/gender/inclusion,Rajasthan Road Sector Modernization Project

#### In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1037]:
test = problem03.name.isnull()
print(test.describe())

count      1499
unique        1
top       False
freq       1499
Name: name, dtype: object

In [1015]:
a = problem03.groupby('project_name')
a.count()

                                                    code  name
project_name
5M: Displaced People in Jordan / Lebanon               4     4
AF - Clean-up & Land Reclamation Project               3     3
AF - HP Mid-Himalayan Watershed Development Pro...     4     4
AF Infrastructure & Institutions Emergency Reco...     4     4
AF-Forest and Adjacent Land Management                 5     5
AF: Development Policy Prog. Series                    5     5
AFSF - Asia - Cambodia - AMRET                         3     3
AFSF-Burkina Faso-FCPB                                 2     2
AGRICULTURAL COMPETITIVENESS IMPROVEMENT PROJECT       4     4
AZ Integrated Solid Waste Management Project (AF)      2     2
Accelerated Food Security Project Additional Fi...     2     2
Adaptation Fund: Increasing Climate Resilience ...     5     5
Adaptation of Nicaraguas  Water Supplies to Cli...     4     4
Add. Fin. - Third Water Supply and Sanitation f...     2     2
Additional Financing - Rio de Janeiro Sustainab...     4     4
Additional Financing 2 - Solomon Islands Rural ...     3     3
Additional Financing Belarus Energy Efficiency ...     2     2
Additional Financing Energy Efficiency - Indust...     2     2
Additional Financing Health Sector Development ...     3     3
Additional Financing for Cash Transfers for Orp...     2     2
Additional Financing for Nepal-India Electricit...     2     2
Additional Financing for Social Fund for Develo...     4     4
Additional Financing for the Project for Agricu...     3     3
Additional Financing for the Second Health Sect...     5     5
Additional Financing for the Second Rural Enter...     2     2
Additional Financing to Health System Improveme...     4     4
Additional Financing-West Africa Agricultural P...     4     4
Additional Financing: Skills and Training Enhan...     4     4
Additional Finaning of Public Procurement Refor...     3     3
Afghanistan - Second Skills Development Project        3     3
...                                                  ...   ...
Uganda Support to Municipal Infrastructure Deve...     2     2
Ukraine - Smart Grid Project &#8211; PPG               2     2
Urban Local Government Strengthening Program           2     2
Urban Scale Building Energy Efficiency and Rene...     2     2
Uttar Pradesh Water Sector Restructuring Projec...     4     4
Uttarakhand Disaster Recovery Project                  4     4
VU:  Telecommunications and ICT TA, Additional ...     2     2
Vietnam - Coastal Resources for Sustainable Dev...     3     3
Vietnam Climate Change Development Policy 2            2     2
Vietnam Inclusive Innovation Project                   2     2
Vietnam Industrial Pollution Management Project        2     2
Vietnam School Readiness Promotion Project             2     2
Vietnam-HCFC Phase-out Project (Phase I)               2     2
Vietnam:  Global Partnership for Education - Vi...     2     2
WBG - PRDP Support V                                   5     5
Water Resources Development Flood Response Addi...     2     2
Water Resources and Irrigation Project                 3     3
Water Supply and Sanitation Improvements for We...     2     2
West Africa  Regional Disease Surveillance Capa...     2     2
West Africa Regional Communications Infrastruct...     4     4
West Bank and Gaza Cash Transfer Project Additi...     2     2
Yemen Household Budget Survey                          4     4
Yemen Public Finance Modernization Project - Ad...     3     3
Yemen: Preparation of SREP Investment Plan             2     2
Yemen: Second Basic Education Development Project      3     3
Youth Employment                                       2     2
ZR SUPPORT TO BASIC EDUCATION PROGRAM                  2     2
Zambia - Extractive Industries Transparency Ini...     2     2
Zambia Strengthening Climate Resilience (PPCR P...     3     3
Zambia Water Resources Development Project             3     3

[500 rows x 2 columns]

In [1017]:
a

In [1011]:
themename = 'mjtheme'
themenamecode = 'mjtheme_namecode'
themecode = 'mjthemecode'
json_df1b=json_df1[['project_name',themename,themenamecode,themecode,]]
json_df1b.head(10)

,project_name,mjtheme,mjtheme_namecode,mjthemecode
0,Ethiopia General Education Quality Improvement...,[Human development],"[{'code': '8', 'name': 'Human development'}, {...","8,11"
1,TN: DTF Social Protection Reforms Support,"[Economic management, Social protection and ri...","[{'code': '1', 'name': 'Economic management'},...","1,6"
2,Tuvalu Aviation Investment Project - Additiona...,"[Trade and integration, Public sector governan...","[{'code': '5', 'name': 'Trade and integration'...","5,2,11,6"
3,Gov't and Civil Society Organization Partnership,"[Social dev/gender/inclusion, Social dev/gende...","[{'code': '7', 'name': 'Social dev/gender/incl...","7,7"
4,Second Private Sector Competitiveness and Econ...,"[Trade and integration, Financial and private ...","[{'code': '5', 'name': 'Trade and integration'...","5,4"
5,Additional Financing for Cash Transfers for Or...,[Social protection and risk management],"[{'code': '6', 'name': 'Social protection and ...","6,6"
6,National Highways Interconnectivity Improvemen...,"[Public sector governance, Financial and priva...","[{'code': '2', 'name': 'Public sector governan...","2,4"
7,China Renewable Energy Scale-Up Program Phase II,[Environment and natural resources management],"[{'code': '11', 'name': 'Environment and natur...","11,8"
8,Rajasthan Road Sector Modernization Project,[Rural development],"[{'code': '10', 'name': 'Rural development'}, ...","10,7"
9,MA Accountability and Transparency DPL,"[Public sector governance, Public sector gover...","[{'code': '2', 'name': 'Public sector governan...","2,2,2"